<html>
<head>
  
<title>Home</title>
<link rel="stylesheet" href="css/main.css">
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
<header class = "nav_bar">
  <img class="logo" src ="" alt ="logo">
  <nav>
    <ul class ="nav__links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Experince</a></li>
      <li><a href="#">Projects</a></li>

    </ul>
  </nav>
  <a class ="cta" href="#"><button>Contact</button></a>
</header>

</head>
<body>
  <h1>Hi There I am Zi Xue Lim</h1>
  <h2>Computer Engineer</h2>
  <!-- <img class="pp" src ="img/pic.png" alt ="logo"> -->
  
  
</body>

</html>