<html>

<head>

  <title>Home</title>
  <link rel="stylesheet" href="css/main.css">
  <meta name="description" content="Our first page">
  <meta name="keywords" content="html tutorial template">
  <header class = "nav_bar">
      <img class="logo" src="img/logo.png" alt="logo">
      <nav>
        <ul class="nav__links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Experince</a></li>
          <li><a href="#">Projects</a></li>
  
        </ul>
      </nav>
      <a class="cta" href="#"><button>Contact</button></a>
      </head>
  </header>

<body>
  <div class="blocker"> </div>
  <h1 id = "main_text">Zi Xue Lim</h1>
  <h2 id = "sub_text1">Computer Engineer</h2>
  
  
  <!-- <img class="pp" src ="img/pic.png" alt ="logo"> -->


</body>

</html>